* {
  margin: 0;
  padding: 0;
  transition: .5s ease-in-out;
}

@font-face {
    font-family: 'CanterBold';
    src:url('fonts/CanterBold.ttf.woff') format('woff'),
        url('fonts/CanterBold.ttf.svg#CanterBold') format('svg'),
        url('fonts/CanterBold.ttf.eot'),
        url('fonts/CanterBold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  width: 100%;
  background-image: url('bg-images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 75%;
  margin: 9.5% auto 0;
  background-image: url('bg-images/Content Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content:flex-end;
}

.header {
  margin: 25% 0;
  padding-right: 5%;
  font-family: 'CanterBold', sans-serif;
  font-size: 80px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 2px 1px #4e645f;
}

#GetReady {
  font-size: 1.7em;
  line-height: 110px;
}

.time {
  font-size: 60px;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  text-shadow: none;
  margin: 20% 0;
}

.hour, .minute, .second {
  margin-top: 5%;
  text-align: center;
  text-shadow: 0 2px 1px #4e645f;
}

.hour-counter, .minute-counter, .second-counter {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
}

span {
  width: 20px;
  background-image: url("bg-images/digit bg.png");
  background-repeat: no-repeat;
  padding: 10px;
}

main {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 70px;
  background-color: #f6f2e6;
  text-align: center;
}

.main-title {
  font-family: 'CanterBold', sans-serif;
  font-size: 80px;
  font-weight: 600;
  color: #515253;
  text-transform: uppercase;
  padding: 70px 0;
}

main section {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

main section img {
  width: 40%;
}

.map-icon {
  width: 100%;
}

input {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 15% 0;
}

.name, .email {
  width: 33.333%;
}

.message-send {
  text-align: center;
}

.message {
  width: 80%;
}

.form-send {
  display: flex;
}

.submit {
  margin: 20px auto 0;;
}

.adress {
  padding-top: 50px;
  display: flex;
}

.adress-icon {
  margin: 0 auto;
  margin-right: 0;
}

.text-adress {
  margin: auto;
  margin-left: 2px;
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 16px;
  color: #32363a;
}

footer {
  width: 75%;
  margin: 0 auto 9.5%;
  padding-bottom: 30px;
  background-color: #f6f2e6;
  text-align: center;
}

footer a {
  margin: 0 auto;
  margin-right: 40px;
}

@media (max-width: 1340px) {
  main section {
    display: inline-block;
  }

  main section img {
    width: 100%;
    margin: 0 auto;
  }

  .hour, .minute, .second {
    text-shadow: 2px 2px 4px #000;
  }

  header, main, footer {
    width: 85%;
  }

  .header {
    margin: 20% 0;
  }
}

@media (max-width: 720px) {
  header, main, footer {
    width: 95%;
  }

  .header {
    margin: 15% 0;
  }
}
